

.material_outside{
    display: flex;
    height: 10px;
    align-items: center;
}

button{
    flex: 1;
    width: 80px;
    cursor: pointer;
    font-size: 2rem;
    border: none;
    background-color: gray;
    color: purple;
    border-radius: 0.2rem;
}

button:hover{
    outline: 2px solid rgb(255, 128, 128);
}

button:focus{
    outline: 2px solid white;
}

p{    
    width: 100px; 
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}