*{
  box-sizing: border-box;
}

.app_reset_btn{
  border: none;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 0.4rem 0.7rem;
  background-color: rgb(167, 44, 146);
  color: white;
  cursor: pointer;
  border-radius: 0.3rem;
}

.app_reset_btn:hover{
  outline: 2px solid white;
}

#app_para{
  font-size:1.5rem;
  color:;
}